<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="login-container">

    <h1 class="login-title">Student Attendance Management System</h1>
    <p class="login-subtitle">Admin Login</p>

    <div class="login-card">
        <form method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="login-btn">Login</button>
        </form>
    </div>

</div>

</body>
</html>
